@model IEnumerable<DigiOffers.Model.DTO.OfferDto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ClientFullName, "Edit", new { id = item.ID }, new { @class = "text-info" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td style="max-width:5px!important">
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil text-info" })
            </td>
            <td style="max-width:5px!important">
                @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-list-alt text-info" })
            </td>
            <td style="max-width:5px!important">
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash text-info" })
            </td>
        </tr>
    }

</table>
