@model IEnumerable<DigiOffers.Model.DTO.OfferNoteDto>



@{
    var grid = new WebGrid(Model, canPage: false, canSort: false,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "notesGridContent");}

<div style="text-align:right; margin-bottom:5px;">
    <button type="button" id="btnNewNote" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
</div>

<div id="notesGridContent">
    @grid.GetHtml(tableStyle: "table table-striped table-bordered editable",
                      headerStyle: "header",
                      alternatingRowStyle: "alt",
                      selectedRowStyle: "select",
                      htmlAttributes: new { id = "tblNotes", style="" },
                        columns: grid.Columns(
                                                grid.Column(columnName: "Note", header: "Napomena", format: @<text>
                                                        <span class="display-mode">@item.Note</span>
                                                        <input value="@item.Note" type="text" class="edit-mode form-control note" onclick="event.stopPropagation()" onfocusout="changeToDisplay($(this))" data-id="@item.ID" data-guid="@item.Guid"/>
                                                </text>),
                                                        grid.Column("", canSort: false, style: "action-columns", format: @<text>
                                                            <a class="glyphicon glyphicon-trash text-info" onclick="deleteRow($(this))" style="cursor:pointer;"></a>
                                                        </text>)
                                                              )
                                    )
</div>







@*<table id="tblNotes" class="table table-striped table-bordered tblOffers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
            </tr>
        }
    </tbody>
</table>*@
